<div class="row">
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="hide()" click="hide()" background="bg-success"><div class="card-body">Start Class</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning"><div class="card-body">Manage Students</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-primary"><div class="card-body">Manage Assignments</div></sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger"><div class="card-body">Something</div></sb-card-view-details>
    </div>
</div>
